@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.cardOutline {
  @apply border border-dark rounded-[2.8125rem] shadow-BottomShadow;
}

@layer base {
  body {
    overflow-x: hidden;
  }
}
@layer utilities {
  .bg-contactFormGradient {
    background-image: linear-gradient(90deg, #f3f3f300, #f3f3f3a6), url('FormIllustration.svg');
  }
  .bg-contactFormPure {
    background-image: url('FormIllustration.svg');
  }
}
@layer base {
  h1 {
    font-size: 3.75rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.875rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  h1,
  h2,
  h3,
  h4 {
    font-weight: 500;
  }
  p {
    font-size: 1.125rem;
  }
  @media (max-width: 700px) {
    h1 {
      font-size: 3.75rem;
      font-size: 2.6875rem;
    }
    h2 {
      font-size: 2.5rem;
      font-size: 2.25rem;
    }
    h3 {
      font-size: 1.875rem;
      font-size: 1.625rem;
    }
    h4 {
      font-size: 1.25rem;
      font-size: 1.125rem;
    }
    h1,
    h2,
    h3,
    h4 {
      font-weight: 500;
    }
    p {
      font-size: 1.125rem;
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
